<header class="p1">
		<mat-card class="head">
			<div class="row">
				<div class="col">
          <nav>
           <ul>
             <a routerLink="/retailer" routerLinkActive="active">Retailer</a>
           </ul>
          </nav>    
				</div>
				<div class="col">
					 <nav>
           <ul>
             <a routerLink="/Middleware" routerLinkActive="active">Middleware</a>
           </ul>
          </nav>   
				</div>
				
				<div class="col" >
				 <nav>
           <ul>
             <a routerLink="/Shopkeeper" routerLinkActive="active">Shopkeeper</a>
           </ul>
          </nav>   
				</div>

				<div class="col" >
				 <nav>
           <ul>
             <a routerLink="/home" routerLinkActive="active">Home</a>
           </ul>
          </nav>   
				</div>
			</div>
		</mat-card>
</header>
<router-outlet></router-outlet>
<mat-card class="mat">
  <div class="row">
    
  </div>


</mat-card>
